##### Ignore Everything #####
/*
/*/

##### Ignore Microsoft Office Temporary Files #####
~$*.doc*
Backup of *.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*

##### Git #####
!.gitignore
!README.md

##### unignore #####
!/template/
/template/*
!/template/*.brd
!/template/*.dsn

##### unignore #####
!/template/
/template/*
!/template/*.brd
!/template/*.dsn

##### AHC-19-001_Relay_PCB #####
!/AHC-19-001_Relay_PCB/
/AHC-19-001_Relay_PCB/*
!/AHC-19-001_Relay_PCB/*.brd
!/AHC-19-001_Relay_PCB/*.dsn
!/AHC-19-001_Relay_PCB/customer_docs
!/AHC-19-001_Relay_PCB/*bom.xlsx
!/AHC-19-001_Relay_PCB/*fab.zip
!/AHC-19-001_Relay_PCB/*gerbers.pdf
!/AHC-19-001_Relay_PCB/*schematic.pdf

##### AHC-20-001_DP_Switch_Barrier_Block_Interface #####
!/AHC-20-001_DP_Switch_Barrier_Block_Interface/
/AHC-20-001_DP_Switch_Barrier_Block_Interface/*
!/AHC-20-001_DP_Switch_Barrier_Block_Interface/*.brd
!/AHC-20-001_DP_Switch_Barrier_Block_Interface/*.dsn
!/AHC-20-001_DP_Switch_Barrier_Block_Interface/customer_docs
!/AHC-20-001_DP_Switch_Barrier_Block_Interface/*bom.xlsx
!/AHC-20-001_DP_Switch_Barrier_Block_Interface/*fab.zip
!/AHC-20-001_DP_Switch_Barrier_Block_Interface/*gerbers.pdf
!/AHC-20-001_DP_Switch_Barrier_Block_Interface/*schematic.pdf

##### AHC-20-002_Homekit_Wall_Switch #####
!/AHC-20-002_Homekit_Wall_Switch/
/AHC-20-002_Homekit_Wall_Switch/*
!/AHC-20-002_Homekit_Wall_Switch/*.brd
!/AHC-20-002_Homekit_Wall_Switch/*.dsn
!/AHC-20-002_Homekit_Wall_Switch/*bom.xlsx
!/AHC-20-002_Homekit_Wall_Switch/*fab.zip
!/AHC-20-002_Homekit_Wall_Switch/*gerbers.pdf
!/AHC-20-002_Homekit_Wall_Switch/*schematic.pdf

##### AHC-20-003_Homekit_Light_Fan_Switch #####
!/AHC-20-003_Homekit_Light_Fan_Switch/
/AHC-20-003_Homekit_Light_Fan_Switch/*
!/AHC-20-003_Homekit_Light_Fan_Switch/*.brd
!/AHC-20-003_Homekit_Light_Fan_Switch/*.dsn
!/AHC-20-003_Homekit_Light_Fan_Switch/*bom.xlsx
!/AHC-20-003_Homekit_Light_Fan_Switch/*fab.zip
!/AHC-20-003_Homekit_Light_Fan_Switch/*gerbers.pdf
!/AHC-20-003_Homekit_Light_Fan_Switch/*schematic.pdf

# NEED TO UPDATE THIS TO SUPPORT ALL CHILDREN DIRECTORIES